<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>宜蘭市</string>
	<string>羅東鎮</string>
	<string>南澳鄉</string>
	<string>礁溪鄉</string>
	<string>冬山鄉</string>
	<string>大同鄉</string>
	<string>壯圍鄉</string>
	<string>員山鄉</string>
	<string>五結鄉</string>
	<string>三星鄉</string>
	<string>蘇澳鎮</string>
	<string>頭城鎮</string>
</array>
</plist>
